<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571815025376-3o81p784i00mal8r8p3824u6i2cfver6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571815025376-3o81p784i00mal8r8p3824u6i2cfver6</string>
	<key>API_KEY</key>
	<string>AIzaSyD7KiCrpMVqT43BD8h8CjuBRW6twb6q3bE</string>
	<key>GCM_SENDER_ID</key>
	<string>571815025376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artemnovichkov.Navigation</string>
	<key>PROJECT_ID</key>
	<string>myfirsfirebaseproject</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirsfirebaseproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571815025376:ios:94a22e7664cfa66ede8e85</string>
</dict>
</plist>